.wrapperBaseBlog {
	margin-top: 140px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.titleBaseBlog {
	width: 100%;
	padding-top: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-left: 1%;
	text-align: center;
	background-color: #f5f5f5;
	font-family: 'Hanuman';
	color: #444;
	font-size: 1em;
}

.quoteBaseBlog {
	font-family: 'Open Sans', serif;
	font-size: 1rem;
	color: #444;
	text-align: center;
}

.childrenBaseBlog {
	max-width: 940px;
	display: flex;
	align-items: flex-start;
	width: 90%;
	text-align: left;
	margin-top: 20px;
	justify-content: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	font-family: 'Open Sans';
}

.childrenBaseBlog > p {
	font-size: 1.2rem;
}

.childrenBaseBlog > h3 {
	font-size: 1.5rem;
}

.childrenBaseBlog > h2 {
	font-size: 2rem;
}

.authorAndDate {
	display: flex;
}

.authorAndDate > span {
	display: block;
	font-family: 'Open Sans', serif;
	font-size: 1rem;
	color: #444;
	margin-right: 20px;
	text-align: center;
}

.imageBaseBlog {
	max-width: 940px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.imageBaseBlog > img {
	width: 100%;
}

.wrapperBaseBlog a {
	text-decoration: none;
	color: #3a8dde;
	font-weight: bolder;
}
