.blogPostDiv {
	box-shadow: 0 8px 8px 3px rgba(0, 0, 0, 0.2);
	width: 30%;
	height: 600px;
	max-width: 500px;
	border-radius: 20px;
}

.blogPostDivHorizontal {
	width: 90% !important;
	height: 220px !important;
	max-width: 1200px !important;
	border-radius: 20px !important;
}

.blogPostUrl {
	display: block;
	text-decoration: none;
	color: black;
}

.blogPostUrl > img {
	max-width: 100%;
	height: 320px;
	width: 100%;
	object-fit: cover;
	border-radius: 20px 20px 0 0;
}

.blogPostUrlHorizontal {
	display: flex !important;
	flex-direction: row !important;
	height: 220px !important;
	text-decoration: none;
	color: black;
}

.blogPostUrlHorizontal > img {
	max-width: 100% !important;
	height: 220px !important;
	width: 40% !important;
	object-fit: cover !important;
	border-radius: 20px 0 0 20px !important;
}

.blogPostMeta {
	padding: 0 30px;
	font-family: 'Open Sans', serif;
	font-size: 0.95rem;
}

.blogPostMetaHorizontal {
	width: 60%;
}

.blogPostMeta .title {
	height: 70px;
	font-family: 'Hanuman', serif;
	font-size: 1.5rem;
	margin-top: 30px;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

.blogPostMeta .titleHorizontal {
	height: 40px !important;
	-webkit-line-clamp: 1 !important;
}

.logo {
	width: 40px;
	margin-right: 15px;
}

.excerpt {
	height: 40px;
}

.authorInfo {
	-webkit-line-clamp: 1;
	height: 20px;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

@media screen and (max-width: 1290px) {
	.blogPostDiv {
		width: 45%;
	}
}

@media screen and (max-width: 780px) {
	.blogPostDiv {
		width: 90%;
	}
}
